* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    
    cursor: pointer;
}

section {
    margin: 20px 0;
}

/* / nav bar / */
nav {
    width: 100vw;
    left: -100%;
    height: 100vh;
    top:0%;
    margin: 0;
    z-index: 9;
    background: powderblue;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: left 0.55s ease;
    overflow: hidden;
    position: fixed;
}

.nav-links {
    list-style: none;
    padding: 0;
}

.nav-links li {
    padding-bottom: 30%;
}

.nav-links li a {
    text-decoration: none;
    color: black;
}

.nav-links li, .backtotop {
    letter-spacing: 2px;
    font-size: 1.3rem;
    text-align: center;
    
}

.burger {
    z-index: 10;
    position: fixed;
    /* padding: 35px 45px; */
    padding-top: 5%;
}
.burger div {
    width: 30px;
    height: 3px;
    margin: 8px;
    background-color: black;
}
.burger span {
    letter-spacing: 1px;
}
.toggle .line1 {
    transform: rotateZ(-45deg) translate(-8px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotateZ(45deg) translate(-8px, -6px);
}
.line1, .line2, .line3 {
    transition: all 0.3s ease;
}
.navToggle {
    left:0;
} 


/* landing page */
.memoji {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}

img.meme {
    width: 80%;
    justify-self: center;
}

.ako:hover {
    background-color:#94CE8E;
}

.chloe:hover {
    background-color:#a8d3da;
}

.ina:hover {
    background-color:#f5cab3;
}

.campbell:hover {
    background-color:#f3ecb8;
}

.ako:hover, .chloe:hover, .ina:hover, .campbell:hover {
    border-radius: 100%;
}
.landing-page {
    height: 100vh;
    padding-top: 30%;
}

.landing-page h1 {
    text-align: center;
    font-size: 2.2rem;
}

.landing-page .fa-chevron-down {
    position: absolute;
    display: block;
    text-align: center;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    /* padding: 10%; */
    font-size: 2rem;
    animation: bouncing 0.7s infinite;
    animation-direction: alternate;
}

@keyframes bouncing {
    0% { transform: translateY(0); }
    100% { transform: translateY(-25px); }
}

.about-us__title, .services__title {
    text-align: center;
    font-size: 40px;
}

/* About us */
fieldset.about {
    border-radius: 10px;
    margin: 7%;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 1.5rem;
    border: 2px solid grey;
}

fieldset.about h3 {
    font-size: 2rem;

}
fieldset.about:nth-of-type(1) {
    border-color: #94CE8E;
}

fieldset.about:nth-of-type(2) {
    border-color: #a8d3da;
}

fieldset.about:nth-of-type(3) {
    border-color: #f5cab3;
}

fieldset.about:nth-of-type(4) {
    border-color: #f3ecb8;
}

fieldset.about p {
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
    padding: 0 15px;
    font-size: 0.9rem;
}

.small-meme {
    width: 35%;
}

.about legend {
    width: 80%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
}

.about legend h3 {
   display: inline-block;
}



/* services */
.service-images {
    display: grid;
    grid-template-rows: repeat(2, minmax(200px, 1fr));
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    margin: 0 10px;
    width: 90%;
    height: auto;
    margin-bottom: 7%;
}

.service-images img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.review-container {
    width: 90%;
    margin: 0 auto;
}

p.review {
    margin: 0 auto;
    text-align: left;
    width: 80%;
}

.reviewer{
    text-align: right;
    margin-right: 10%;
}

.fas {
    font-size: 1.5em;
    color: rgba(85, 85, 85, 0.849);
}


.fa-quote-left {
    margin-right: 90%;
}

.fa-quote-right {
    margin-left: 90%;
}

/* contact us  */
.contact-us__modal {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.contact-us__form {
    position: relative;
    background-color: white;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label, input, textarea {
   display: block;
   width: 100%;
}

label {
    font-weight: 600;
    font-size: 0.85rem;
}

input, textarea {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    margin-top: 1rem;
}

.form__details {
    float: left;
    width: 80%;
}

.close {
    color: hsl(0, 0%, 40%);
    position: absolute;
    right: 2rem;
    top: 1rem;
    font-size: 3rem;
    cursor: pointer;
}

.form__header {
    letter-spacing: 0.3rem;
    color: hsl(0, 0%, 40%);
    font-weight: 60;
}

.form__submit {
    border: 1px solid hsl(218, 97%, 52%);
    color: hsl(218, 97%, 52%);
    padding: 0.5rem 1rem;
    width: 7rem;
    height: 3rem;
    font-size: 1.25rem;
    cursor: pointer;
    transition: background-color 1.5s ease-out;
}

.form__submit:hover, .contact-us__button:hover {
    background-color: hsl(218, 97%, 52%);
    color: white;
}

.contact-us__button {
    background-color: white;
    border: 1px solid hsl(218, 97%, 52%);
    color: hsl(218, 97%, 52%);
    padding: 0.5rem 1rem;
    width: 8rem;
    height: 3rem;
    font-size: 1rem;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: flex;
    transition: background-color 1.5s ease-out;
}

.contact-us__modal {
    position: relative;
    display: flex;
    -webkit-animation-name: zoom;
     -webkit-animation-duration: 0.6s;
      animation-name: zoom;
       animation-duration: 0.6s;
}

.contact-us {
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    z-index: 11;
}

.form__submit-message {
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    z-index: 12;
    background-color: white;
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    color: hsl(0, 0%, 40%);
    font-weight: 60;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
    
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
  
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}


/* Button scroll */
.button-scroll {
    position: fixed;
    right: 35px;
    bottom: 30px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background:  #b590ca;
    border: none; 
    outline: none;
    cursor: pointer;
    display: none;
    z-index: 7;
}

.button-scroll i {
    z-index: 10;
    color: white;
    font-size: 1.8rem;
}

@media only screen and (min-width: 768px) {
    nav {
        width: 25vw;
        background: hsla(53,71%,84%, 0.9)
    }

    .mainSquish {
        width: 75vw;
        float: right;
        transition: left 0.55s ease;
    }

    .contact-us__form {
        width: 50vw;
        height: 80vh;
    }

    .contact-us__modal {
        background-color: hsla(8, 100%, 0%, 0.7);
        width: 100vw;
        height: 100vh;
    }

    .contact-us {
        margin: 0;
    }

    .form__submit-message {
        display: none;
        align-self: center;
        justify-self: center;
        margin: auto;
        width: 50vw;
        height: 80vh;
    }

    .burger {
        top: 0rem;
        left: 2rem;
    }

    .landing-page {
        padding: 0;
        text-align: center;
        position: relative;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .landing-page h1 {
        font-size: 7rem;
        letter-spacing: 0.3rem;
        font-weight: 60;
        position: absolute;
        grid-column: span 4;
        justify-self: center;
        align-self: end;
        grid-row: 1/2;
    }

    .memoji {
        display: flex;
        justify-self: center;
        grid-column: span 4;
        grid-row: 2/-1;
        width: 80vw;
        height: 30%;
    }

    img.meme {
        width: 70%;
    }

    .about-us {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 5rem 1fr 1fr;
    }

    .about-us__title {
        grid-row: 1/2;
        grid-column: 1/-1;
        font-size: 5rem;
        letter-spacing: 0.3rem;
        font-weight: 60;
        justify-self: center;
        align-self: center;
    }

    .review-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .review-container__quote {
        padding: 3rem;
    }
}
